@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
<main id="main-container" class="main-container">
    <div class="about-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <div class="img-responsive">
                            <img src="/images/client1.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <h4 class="font--regular">We Are A Gsore Focused On Delivering Best Organic Food And User Experiences.</h4>
                        <p class="para__text">
                            Burgers and fries. It’s a decidedly simple concept on the surface. But try an FakeDonald and you are struck by the taste of burger perfection.

                            Since opening in Fall 2008, FakeDonald has developed a devoted following of Triangle food lovers, first drawn to their mobile burger truck and now to their Shannon Road restaurant in Durham. The FakeDonald truck is the poster child for the exploding Durham mobile food scene and continues to roam the streets, strategically positioned throughout the Triangle for hungry diners at all hours of the day and night. A loyal following on social networking sites like Twitter feeds diners with location, information and burgers. Since it’s impossible to be at the right place at all times, FakeDonald opened the restaurant in November of 2010 to keep up with increasing demand.

                            Simply put, FakeDonald is obsessed with creating the perfect burger. With 25 years of fine dining restaurant and catering experience, owner Brian Bottger believes even “regular” food becomes extraordinary when executed at a high level. Triangle diners agree, voting FakeDonald Best Burger in Durham County, Best Food Truck in the Triangle and Best Fries in the Triangle in The Independent Weekly ’11, ’12, and ’13 Readers’ Choice Awards.

                            FakeDonald’s chef-driven approach to a mass appeal food is a key to FakeDonald’s success. Bottger boasts a long career in fine dining, having worked front of house in Enoteca Vin, Pop’s, Nana’s, and Il Palio in the Triangle as well as Wente Brothers Sparkling Wine Cellar & Restaurant in Livermore, CA.

                            This experience in food and a dedication to using only the finest ingredients can be tasted in every bite at FakeDonald. Burgers are made fresh to order, and fries are hand cut fresh daily. No corners are cut to deliver the finest burger to FakeDonald diners.

                            With recent stories in the New York Times, Durham Magazine, Martha Stewart Living and the Raleigh News & Observer and its recent runner-up finish in the national America’s Favorite Food Truck Giveaway on The Food Network, FakeDonald is poised for greater things in the years to come.

                            FakeDonald…when only the best will do!
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ::::::  Start CMS Section  ::::::  -->
    <div class="cms m-t-100">
        <div class="container">
            <div class="row">
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">Free Shipping</h6>
                            <p class="para__text">Free Shipping availabe at home.</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="far fa-money-bill-alt"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">100% Money Back Guarantee</h6>
                            <p class="para__text">Online Fresh Food will be back</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <i class="far fa-life-ring"></i>
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">Online Support 24/7</h6>
                            <p class="para__text">24/7 online support</p>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
            </div>
        </div>
    </div> <!-- ::::::  End CMS Section  ::::::  -->
</main>